<div class="container-fluid">
   <h1>Utenti presenti nel Database</h1>
   <h2>Qui puoi visualizzare tutti gli utenti presenti nel database, modificarli ed eliminarli</h2> 
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nome</th>
                <th scope="col">Cognome</th>
                <th scope="col">Data di nascita</th>
                <th scope="col">Codice Fiscale</th>
                <th scope="col">Email</th>
                <th scope="col">Modifica</th>
                <th scope="col">Elimina</th>
            </tr>
        </thead>
        <tbody>
            <tr app-user-data *ngFor="let user of getUsers()" [user] = "user"></tr>
        </tbody>
    </table>
</div>