<div class="text-center" id="main-div">
    <form class="form-signin" name="login-form" #f="ngForm" (ngSubmit)="singIn(f)">
        <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72"
            height="72">
        <h1 class="h3 mb-3 font-weight-normal">Login</h1>
        <input ngModel name="email" type="email" id="inputEmail" class="form-control" placeholder="Email"
            #email="ngModel" required autofocus>
        <div *ngIf="email.dirty && email.touched && email.invalid && email.errors">
            <div class="alert-danger" *ngIf="email.errors['required']">
                The field email is required
            </div>
            <div class="alert-danger" *ngIf="email.errors['email']">
                The value must be a valid email
            </div>
        </div>
        <input ngModel name="password" type="password" id="inputPassword" class="form-control" placeholder="Password"
            #password="ngModel" required minlength="6">
        <div *ngIf="password.dirty && password.touched && password.invalid && password.errors">
            <div class="alert-danger" *ngIf="password.errors['required']">
                The field password is required
            </div>
            <div class="alert-danger" *ngIf="password.errors['minlength']">
                The field password must be {{password.errors['minlength'].requiredLength }} chars length
            </div>

        </div>
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Ricordati di me
            </label>
        </div>
        <div class="row">
            <span>Non hai un account?<a href="#" routerLink="/register">Registrati</a></span>
        </div>
        <div class="row">
            <button [disabled]="!f.valid" class="btn btn-lg btn-primary btn-block" type="submit">Accedi</button>
        </div>
    </form>
</div>