td, th{
    text-align: center;
    font-size: 15px;
    vertical-align: middle;
    transition: 500ms;
}

button {
    transition: 500ms;
}

td:hover {
    font-size: 20px;
}

th:hover {
    font-size: 20px;
}

button:hover {
    font-size: 20px;
}