<div class="text-center" id="main-div">
    <form class="form-signin" name="login-form" #f="ngForm" (ngSubmit)="signUp(f)">
        <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72"
            height="72">
        <h1 class="h3 mb-3 font-weight-normal">Registrazione</h1>

        <div class="row personal-data">
            <div class="col-md-6">
                <input ngModel name="firstName" type="text" id="first-name" class="form-control" placeholder="Nome"
                    #firstName="ngModel" required autofocus>
                <div *ngIf="firstName.dirty && firstName.touched && firstName.invalid && firstName.errors">
                    <div class="alert-danger" *ngIf="firstName.errors['required']">
                        Devi inserire necessariamente un nome!
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <input ngModel name="lastName" type="text" id="last-name" class="form-control" placeholder="Cognome"
                    #lastName="ngModel" required autofocus>
                <div *ngIf="lastName.dirty && lastName.touched && lastName.invalid && lastName.errors">
                    <div class="alert-danger" *ngIf="lastName.errors['required']">
                        Devi inserire necessariamente un cognome!
                    </div>
                </div>
            </div>
        </div>

        <div class="row date-of-birth">
            <input ngModel name="dateOfBirth" type="date" id="date-of-birth" class="form-control"
                placeholder="Data di nascita" #dateOfBirth="ngModel" required autofocus>
            <div *ngIf="dateOfBirth.dirty && dateOfBirth.touched && dateOfBirth.invalid && dateOfBirth.errors">
                <div class="alert-danger" *ngIf="dateOfBirth.errors['required']">
                    Devi inserire necessariamente una data di nascita!
                </div>
            </div>
        </div>

        <input ngModel name="email" type="email" id="inputEmail" class="form-control" placeholder="Email"
            #email="ngModel" required autofocus>
        <div *ngIf="email.dirty && email.touched && email.invalid && email.errors">
            <div class="alert-danger" *ngIf="email.errors['required']">
                Devi inserire necessarimante una email valida
            </div>
            <div class="alert-danger" *ngIf="email.errors['email']">
                Devi inserire necessarimante una email valida
            </div>
        </div>

        <input ngModel name="password" type="password" id="inputPassword" class="form-control" placeholder="Password"
            #password="ngModel" required minlength="6">
        <div *ngIf="password.dirty && password.touched && password.invalid && password.errors">
            <div class="alert-danger" *ngIf="password.errors['required']">
                Devi inserire una password
            </div>
            <div class="alert-danger" *ngIf="password.errors['minlength']">
                La password deve essere lunga almeno {{password.errors['minlength'].requiredLength }} caratteri
            </div>

        </div>
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Ricordati di me
            </label>
        </div>
        <div class="row">
            <span>Sei già registrato?<a href="#" routerLink="/login">Accedi</a></span>
        </div>
        <div class="row">
            <div class="col text-center">
                <button class="btn btn-lg btn-success btn-block" type="submit">Registrati</button>
            </div>
        </div>
    </form>
</div>